<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/app.css">
  <title>Document</title>
</head>
<body>
  <div class="container">

    <div class="comment">
      <div class="comment__header">
        <div class="comment__header__rate">
          <div class="comment__header__rate__stars">
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label class ="full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4 and a half" />
                <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label class ="full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half" />
                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label class ="full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half" />
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label class ="full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1 and a half" />
                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label class ="full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half" />
                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
              </fieldset>
          </div>
          <div class="comment__header__rate__number">
            <p>3.0</p>
          </div>
        </div>
        <div class="comment__header__date">
          <p>4 de Abril de 2017</p>
        </div>
      </div>
      <div class="comment__body">
        <div class="comment__body__title">
          <h3>Excelente Servicio En Tienda Para Cambios</h3>
        </div>
        <div class="comment__body__content">
          <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Maxime deleniti minus quis, 
            exercitationem vero molestiae beatae asperiores 
            incidunt dolorum repudiandae.</p>
        </div>
      </div>
      <div class="comment__footer">
        <div class="comment__footer__author">
          <strong>Viescobar</strong>
          <p>Cliente verificado</p>
        </div>
        <div class="comment__footer__social">
          <div class="comment__footer__social__like">
            <p>te ha resultado util?</p> 
            <div class="comment__footer__social__like__action">
              <div class="comment__footer__social__like__action__up">
                <i class="far fa-thumbs-up"></i>
                <span>01</span>
              </div>
              <div class="comment__footer__social__like__action__down">
                <i class="far fa-thumbs-down"></i>
                <span>00</span>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="comment">
      <div class="comment__header">
        <div class="comment__header__rate">
          <div class="comment__header__rate__stars">
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label class ="full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4 and a half" />
                <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label class ="full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half" />
                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label class ="full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half" />
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label class ="full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1 and a half" />
                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label class ="full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half" />
                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
              </fieldset>
          </div>
          <div class="comment__header__rate__number">
            <p>3.0</p>
          </div>
        </div>
        <div class="comment__header__date">
          <p>4 de Abril de 2017</p>
        </div>
      </div>
      <div class="comment__body">
        <div class="comment__body__title">
          <h3>Excelente Servicio En Tienda Para Cambios</h3>
        </div>
        <div class="comment__body__content">
          <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Maxime deleniti minus quis, 
            exercitationem vero molestiae beatae asperiores 
            incidunt dolorum repudiandae.</p>
        </div>
      </div>
      <div class="comment__footer">
        <div class="comment__footer__author">
          <strong>Viescobar</strong>
          <p>Cliente verificado</p>
        </div>
        <div class="comment__footer__social">
          <div class="comment__footer__social__like">
            <p>te ha resultado util?</p> 
            <div class="comment__footer__social__like__action">
              <div class="comment__footer__social__like__action__up">
                <i class="far fa-thumbs-up"></i>
                <span>01</span>
              </div>
              <div class="comment__footer__social__like__action__down">
                <i class="far fa-thumbs-down"></i>
                <span>00</span>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="comment">
      <div class="comment__header">
        <div class="comment__header__rate">
          <div class="comment__header__rate__stars">
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label class ="full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4 and a half" />
                <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label class ="full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half" />
                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label class ="full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half" />
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label class ="full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1 and a half" />
                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label class ="full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half" />
                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
              </fieldset>
          </div>
          <div class="comment__header__rate__number">
            <p>3.0</p>
          </div>
        </div>
        <div class="comment__header__date">
          <p>4 de Abril de 2017</p>
        </div>
      </div>
      <div class="comment__body">
        <div class="comment__body__title">
          <h3>Excelente Servicio En Tienda Para Cambios</h3>
        </div>
        <div class="comment__body__content">
          <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Maxime deleniti minus quis, 
            exercitationem vero molestiae beatae asperiores 
            incidunt dolorum repudiandae.</p>
        </div>
      </div>
      <div class="comment__footer">
        <div class="comment__footer__author">
          <strong>Viescobar</strong>
          <p>Cliente verificado</p>
        </div>
        <div class="comment__footer__social">
          <div class="comment__footer__social__like">
            <p>te ha resultado util?</p> 
            <div class="comment__footer__social__like__action">
              <div class="comment__footer__social__like__action__up">
                <i class="far fa-thumbs-up"></i>
                <span>01</span>
              </div>
              <div class="comment__footer__social__like__action__down">
                <i class="far fa-thumbs-down"></i>
                <span>00</span>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>
</html>