<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/css/swiper.min.css">
  <link rel="stylesheet" href="../src/css/app.css">
  <title>Document</title>
</head>
<body>


    <div class="container">
      <div class="gallery-struck">
        <a href="1" class="gallery-struck--small">
          <img  class="gallery-struck__img"
                srcset="https://picsum.photos/1400/600/?red 720w,
                        https://picsum.photos/2400/600/?shoe 1200w"
                src="https://picsum.photos/1600/600/?gold"
                alt="Elva dressed as a fairy">
          <div class="gallery-struck__content t-white">
            <h2 class="gallery-struck__title">Sofás &</h2>
            <p class="gallery-struck__subtitle">Muebles</p>
          </div>
        </a>
        <a href="2" class="gallery-struck--small">
          <img  class="gallery-struck__img"
                srcset="https://picsum.photos/1400/600/?white 720w,
                        https://picsum.photos/2400/600/?pant 1200w"
                src="https://picsum.photos/1600/600/?gold"
                alt="Elva dressed as a fairy">
          <div class="gallery-struck__content t-white">
            <h2 class="gallery-struck__title">Juego</h2>
            <p class="gallery-struck__subtitle">de mesa</p>
          </div>
        </a>
        <a href="3" class="gallery-struck--mediun">
          <img  class="gallery-struck__img"
                srcset="https://picsum.photos/1400/600/?apple 720w,
                        https://picsum.photos/2400/600/?shirt 1200w"
                src="https://picsum.photos/1600/600/?gold"
                alt="Elva dressed as a fairy">
          <div class="gallery-struck__content t-black">
            <h2 class="gallery-struck__title">Escritorios</h2>
            <p class="gallery-struck__subtitle">& Sillas</p>
          </div>
        </a>
        <a href="4" class="gallery-struck--large">
          <img  class="gallery-struck__img"
                srcset="https://picsum.photos/1400/600/?gray 720w,
                        https://picsum.photos/2400/600/?heard 1200w"
                src="https://picsum.photos/1600/600/?gold"
                alt="Elva dressed as a fairy">
          <div class="gallery-struck__content t-black">
            <h2 class="gallery-struck__title">En juegos</h2>
            <p class="gallery-struck__subtitle">de terrazas</p>
          </div>
        </a>
      </div>
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js"></script>
</body>
</html>
