<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/app.css">
  <title>Document</title>
</head>
<body>

  <div class="step">
    <div class="step__content">

      <div class="step__content__item">
        <div class="step__content__item__left">
          <div class="step__content__item__left__icon">
            <i class="fas fa-shipping-fast"></i>
          </div>
          <div class="step__content__item__left__title">
            <p>Envio</p>
          </div>        
        </div>
        <div class="step__content__item__right">
          <div class="step__content__item__right__plus">
            <p>VER MAS</p>
          </div>
        </div>
        <div class="step__content__item__desc">
          <p>gratis a todo el pais</p>
        </div>
      </div>

      <div class="step__content__item">
        <div class="step__content__item__left">
          <div class="step__content__item__left__icon">
            <i class="fas fa-shipping-fast"></i>
          </div>
          <div class="step__content__item__left__title">
            <p>Envio</p>
          </div>        
        </div>
        <div class="step__content__item__right">
          <div class="step__content__item__right__plus">
            <p>VER MAS</p>
          </div>
        </div>
        <div class="step__content__item__desc">
          <p>gratis a todo el pais</p>
        </div>
      </div>

      <div class="step__content__item">
        <div class="step__content__item__left">
          <div class="step__content__item__left__icon">
            <i class="fas fa-shipping-fast"></i>
          </div>
          <div class="step__content__item__left__title">
            <p>Envio</p>
          </div>        
        </div>
        <div class="step__content__item__right">
          <div class="step__content__item__right__plus">
            <p>VER MAS</p>
          </div>
        </div>
        <div class="step__content__item__desc">
          <p>gratis a todo el pais</p>
        </div>
      </div>

      

    </div>
  </div>

</body>
</html>