<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/app.css">
  <title>Document</title>
</head>
<body>

  <div class="step">
    <div class="step__content">

      <div class="step__content__item">
        <div class="step__content__item__left">
          <div class="step__content__item__left__icon">
            <i class="fas fa-shipping-fast"></i>
          </div>
          <div class="step__content__item__left__title">
            <p>Envio</p>
          </div>        
        </div>
        <div class="step__content__item__desc">
          <p>gratis a todo el pais</p>
        </div>
      </div>

      <div class="step__content__item">
        <div class="step__content__item__left">
          <div class="step__content__item__left__icon">
            <i class="fas fa-shipping-fast"></i>
          </div>
          <div class="step__content__item__left__title">
            <p>Envio</p>
          </div>        
        </div>
        <div class="step__content__item__desc">
          <p>gratis a todo el pais</p>
        </div>
      </div>

      <div class="step__content__item">
        <div class="step__content__item__left">
          <div class="step__content__item__left__icon">
            <i class="fas fa-shipping-fast"></i>
          </div>
          <div class="step__content__item__left__title">
            <p>Envio</p>
          </div>        
        </div>
        <div class="step__content__item__desc">
          <p>gratis a todo el pais</p>
        </div>
      </div>

      

    </div>
  </div>
   <!-- script>
      document.addEventListener("DOMContentLoaded", function(){
        const cl = q => console.log(q);
  
  
        // Show an element
        var show = function (elem) {
  
          // Get the natural height of the element
          var getHeight = function () {
            elem.style.display = 'block'; // Make it visible
            var height = elem.scrollHeight + 'px'; // Get it's height
            elem.style.display = ''; //  Hide it again
            return height;
          };
  
          var height = getHeight(); // Get the natural height
          elem.classList.add('is-visible'); // Make the element visible
          elem.style.height = height; // Update the max-height
  
          // Once the transition is complete, remove the inline max-height so the content can scale responsively
          window.setTimeout(function () {
            elem.style.height = '';
          }, 350);
  
        };
  
        // Hide an element
        var hide = function (elem) {
  
          // Give the element a height to change from
          elem.style.height = elem.scrollHeight + 'px';
  
          // Set the height back to 0
          window.setTimeout(function () {
            elem.style.height = '0';
          }, 1);
  
          // When the transition is complete, hide it
          window.setTimeout(function () {
            elem.classList.remove('is-visible');
          }, 350);
  
        };
  
        // Toggle element visibility
        var toggle = function (elem, timing) {
  
          // If the element is visible, hide it
          if (elem.classList.contains('is-visible')) {
            hide(elem);
            return;
          }
  
          // Otherwise, show it
          show(elem);
  
        };
        if(window.innerWidth < 1024){
          var items = document.querySelectorAll('.step__content__item');
          items.forEach(function(el, index, array){
            el.addEventListener('click', function() {
              toggle(this.querySelector('.step__content__item__desc'), 3000)
              this.classList.toggle('active');
            });
          })
        }
  
  
      });
  
    </script -->
</body>
</html>