// config form style
// normal - material-basic, material-efect
// normal: style basic
// mterial-basic: style basic material
// mterial-efect: style material effect label translate
$form-style: 'material-basic';

// config form all
// label
$label-color: $black;
$label-font-size: 1rem;
$label-font-family: $font-family;
// input
$input-color-text: $gray;
$input-color-border: $gray;
$input-font-size: 1rem;
$input-font-family: $font-family;
// placeholder
$placeholder-color: $gray;
$placeholder-font-size: 1rem;
$placeholder-font-family: $font-family;
// border-radius
$form-round: 5px;
// end

@mixin baseInput() {
  color:                $input-color-text;
  width:                100%;
  border:               1px solid #ced4da;
  height:               30px;
  display:              block;
  padding:              .375rem .75rem;
  font-size:            $input-font-size;
  transition:           border-color .15s ease-in-out;
  box-sizing:           border-box;
  line-height:          1.5;
  font-weight:          300;
  font-family:          $input-font-family;
  border-style:         solid;
  border-color:         $input-color-border;
  background-clip:      padding-box;
  background-color:   #fff;
  &:hover{
    border-color: $black;
    transition: border-color .15s ease-in-out;
  }
  &:focus{
    outline: none;
    border-color: $black;
  }
  &::placeholder {
    color: $placeholder-color;
    font-size: $placeholder-font-size;
    font-family: $placeholder-font-family;
  }
  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
}
@mixin positionGrop(){
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
  @content;
}

@mixin normal-style(){
  label{
    margin-bottom: 5px;
    color: $label-color;
    font-size: $label-font-size;
    font-family: $label-font-family;      
  }
}

@mixin material-basic(){
  height: 50px;
  justify-content: flex-end;
  label{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    font-size: .8rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  input[type="tel"],
  textarea {
    border: none;
    border-bottom: solid 1px $input-color-border;
  }
}

@mixin group($style){
  @include positionGrop();
  @include normal-style();
  @if $style == 'material-basic'{
    @include material-basic();      
  }
}

.form {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    &__col {
      padding-right: 5px;
      padding-left: 5px;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  input[type="tel"],
  textarea {
    @include baseInput();
  }
  textarea {
    height: 100%;
    resize: none;
  }
  &__group {
    @include group($form-style);
  }
}