.header{
  display: flex;
  flex-direction: column;
  background-color: $white;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em 0;
    //height: 50px;
  }
  &__img{
    width: 90px;
    height: auto;
  }
  &__icon{
    cursor: pointer;
    font-size: 1.4em;
  }
}
