.flex{
  display: flex;
  flex-wrap: wrap;
  &.flex-nowrap{
    flex-wrap: nowrap;
  }
  &.flex--right{
      justify-content: flex-end;
  }
  &.flex--centerx{
      justify-content: center;
  }
  &.flex--left{
      justify-content: flex-start;
  }
  &.flex--top{
      align-items: flex-start;
  }
  &.flex--centery{
      align-items: center;
  }
  &.flex--bottom{
      align-items: flex-end;
  }
  &.flex--btw{
      justify-content: space-between;
  }

  
  &--dc{
      flex-direction: column;
      &.flex--right{
          align-items: flex-end;
      }
      &.flex--centerx{
          align-items: center;
      }
      &.flex--left{
          align-items: flex-start;
      }
      &.flex--top{
          justify-content: flex-start;
      }
      &.flex--centery{
          justify-content: center;
      }
      &.flex--bottom{
          justify-content: flex-end;
      }
      &.flex--btw{
          justify-content: space-between;
      }
  }

  //direction row es el default
  &--dr{
      flex-direction: row;
      &.flex--right{
          justify-content: flex-end;
      }
      &.flex--centerx{
          justify-content: center;
      }
      &.flex--left{
          justify-content: flex-start;
      }
      &.flex--top{
          align-items: flex-start;
      }
      &.flex--centery{
          align-items: center;
      }
      &.flex--bottom{
          align-items: flex-end;
      }
      &.flex--btw{
          justify-content: space-between;
      }
  }

  //Orders Define
  @for $i from 1 through 5{
      &--order#{$i}{
          order: $i;
      }
  }
  

}

// helpers
.flex-width-auto{
    flex: auto 1 0;
}