@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("../icon-fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("../icon-fonts/Material Icons"), local("../icon-fonts/MaterialIcons-Regular"), local("../icon-fonts/MaterialIcons-Regular.woff2") format("woff2"), local("../icon-fonts/MaterialIcons-Regular.woff") format("woff"), local("../icon-fonts/MaterialIcons-Regular.ttf") format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga'; }

/* Rules for sizing the icon. */
.material-icons.md-14 {
  font-size: 0.875rem; }

.material-icons.md-16 {
  font-size: 1rem; }

.material-icons.md-18 {
  font-size: 1.125rem; }

.material-icons.md-20 {
  font-size: 1.25rem; }

.material-icons.md-24 {
  font-size: 1.5rem; }

.material-icons.md-36 {
  font-size: 2.25rem; }

.material-icons.md-48 {
  font-size: 3rem; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(23, 43, 77, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(23, 43, 77, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.h1 {
  font-size: 2.5rem; }

.h2 {
  font-size: 2rem; }

.h3 {
  font-size: 1.75rem; }

.h4 {
  font-size: 1.5rem; }

.h5 {
  font-size: 1.25rem; }

.h6 {
  font-size: 1rem; }

/*@each $media, $size in $breakpoints{

}*/
.width-5 {
  width: 5%; }

.width-10 {
  width: 10%; }

.width-15 {
  width: 15%; }

.width-20 {
  width: 20%; }

.width-25 {
  width: 25%; }

.width-30 {
  width: 30%; }

.width-35 {
  width: 35%; }

.width-40 {
  width: 40%; }

.width-45 {
  width: 45%; }

.width-50 {
  width: 50%; }

.width-55 {
  width: 55%; }

.width-60 {
  width: 60%; }

.width-65 {
  width: 65%; }

.width-70 {
  width: 70%; }

.width-75 {
  width: 75%; }

.width-80 {
  width: 80%; }

.width-85 {
  width: 85%; }

.width-90 {
  width: 90%; }

.width-95 {
  width: 95%; }

.width-100 {
  width: 100%; }

/*@mixin flexCssHelpers {
  .main-justify {
    @include mainJustify
  }
  .main-distribute {
    @include mainDistribute
  }
  .main-center {
    @include mainCenter
  }
  .main-start {
    @include mainStart
  }
  .main-end {
    @include mainEnd
  }
  .cross-start {
    @include crossStart
  }
  .cross-center {
    @include crossCenter
  }
  .cross-end {
    @include crossEnd
  }
  .flex-reverse {
    @include flexReverse
  }
  .flex-column {
    @include flexColumn
  }
  .flex-column-reverse {
    @include flexColumnReverse
  }
  .abcenter {
    @include flexCenter
  }
}*/
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px; }
  .form__row__col {
    padding-right: 5px;
    padding-left: 5px;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="password"],
.form input[type="search"],
.form input[type="url"],
.form input[type="tel"],
.form textarea {
  color: #8e9bab;
  width: 100%;
  border: 1px solid #ced4da;
  height: 30px;
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  -webkit-transition: border-color .15s ease-in-out;
  transition: border-color .15s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  font-weight: 300;
  font-family: "proxima-nova", sans-serif;
  border-style: solid;
  border-color: #8e9bab;
  background-clip: padding-box;
  background-color: #fff; }
  .form input[type="text"]:hover,
  .form input[type="email"]:hover,
  .form input[type="number"]:hover,
  .form input[type="password"]:hover,
  .form input[type="search"]:hover,
  .form input[type="url"]:hover,
  .form input[type="tel"]:hover,
  .form textarea:hover {
    border-color: #172b4d;
    -webkit-transition: border-color .15s ease-in-out;
    transition: border-color .15s ease-in-out; }
  .form input[type="text"]:focus,
  .form input[type="email"]:focus,
  .form input[type="number"]:focus,
  .form input[type="password"]:focus,
  .form input[type="search"]:focus,
  .form input[type="url"]:focus,
  .form input[type="tel"]:focus,
  .form textarea:focus {
    outline: none;
    border-color: #172b4d; }
  .form input[type="text"]::-webkit-input-placeholder,
  .form input[type="email"]::-webkit-input-placeholder,
  .form input[type="number"]::-webkit-input-placeholder,
  .form input[type="password"]::-webkit-input-placeholder,
  .form input[type="search"]::-webkit-input-placeholder,
  .form input[type="url"]::-webkit-input-placeholder,
  .form input[type="tel"]::-webkit-input-placeholder,
  .form textarea::-webkit-input-placeholder {
    color: #8e9bab;
    font-size: 1rem;
    font-family: "proxima-nova", sans-serif; }
  .form input[type="text"]:-ms-input-placeholder,
  .form input[type="email"]:-ms-input-placeholder,
  .form input[type="number"]:-ms-input-placeholder,
  .form input[type="password"]:-ms-input-placeholder,
  .form input[type="search"]:-ms-input-placeholder,
  .form input[type="url"]:-ms-input-placeholder,
  .form input[type="tel"]:-ms-input-placeholder,
  .form textarea:-ms-input-placeholder {
    color: #8e9bab;
    font-size: 1rem;
    font-family: "proxima-nova", sans-serif; }
  .form input[type="text"]::-ms-input-placeholder,
  .form input[type="email"]::-ms-input-placeholder,
  .form input[type="number"]::-ms-input-placeholder,
  .form input[type="password"]::-ms-input-placeholder,
  .form input[type="search"]::-ms-input-placeholder,
  .form input[type="url"]::-ms-input-placeholder,
  .form input[type="tel"]::-ms-input-placeholder,
  .form textarea::-ms-input-placeholder {
    color: #8e9bab;
    font-size: 1rem;
    font-family: "proxima-nova", sans-serif; }
  .form input[type="text"]::placeholder,
  .form input[type="email"]::placeholder,
  .form input[type="number"]::placeholder,
  .form input[type="password"]::placeholder,
  .form input[type="search"]::placeholder,
  .form input[type="url"]::placeholder,
  .form input[type="tel"]::placeholder,
  .form textarea::placeholder {
    color: #8e9bab;
    font-size: 1rem;
    font-family: "proxima-nova", sans-serif; }
  .form input[type="text"]:disabled,
  .form input[type="email"]:disabled,
  .form input[type="number"]:disabled,
  .form input[type="password"]:disabled,
  .form input[type="search"]:disabled,
  .form input[type="url"]:disabled,
  .form input[type="tel"]:disabled,
  .form textarea:disabled {
    opacity: .5;
    pointer-events: none; }

.form textarea {
  height: 100%;
  resize: none; }

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  position: relative;
  height: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .form__group label {
    margin-bottom: 5px;
    color: #172b4d;
    font-size: 1rem;
    font-family: "proxima-nova", sans-serif; }
  .form__group label {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    font-size: .8rem; }
  .form__group input[type="text"],
  .form__group input[type="email"],
  .form__group input[type="number"],
  .form__group input[type="password"],
  .form__group input[type="search"],
  .form__group input[type="url"],
  .form__group input[type="tel"],
  .form__group textarea {
    border: none;
    border-bottom: solid 1px #8e9bab; }
