@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("../icon-fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("../icon-fonts/Material Icons"), local("../icon-fonts/MaterialIcons-Regular"), local("../icon-fonts/MaterialIcons-Regular.woff2") format("woff2"), local("../icon-fonts/MaterialIcons-Regular.woff") format("woff"), local("../icon-fonts/MaterialIcons-Regular.ttf") format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga'; }

/* Rules for sizing the icon. */
.material-icons.md-14 {
  font-size: 0.875rem; }

.material-icons.md-16 {
  font-size: 1rem; }

.material-icons.md-18 {
  font-size: 1.125rem; }

.material-icons.md-20 {
  font-size: 1.25rem; }

.material-icons.md-24 {
  font-size: 1.5rem; }

.material-icons.md-36 {
  font-size: 2.25rem; }

.material-icons.md-48 {
  font-size: 3rem; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(23, 43, 77, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(23, 43, 77, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

<<<<<<< HEAD
.h1 {
  font-size: 2.5rem; }

.h2 {
  font-size: 2rem; }

.h3 {
  font-size: 1.75rem; }

.h4 {
  font-size: 1.5rem; }

.h5 {
  font-size: 1.25rem; }

.h6 {
  font-size: 1rem; }

.btn {
  display: inline-block;
  padding: .6em 1.4em;
  cursor: pointer;
  border: none;
  text-decoration: none;
  letter-spacing: 0.5px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }

.btn {
  background: #b8bec9;
  color: #172b4d;
  border-radius: .25em; }
  .btn:hover {
    background: #aab1be;
    text-decoration: none;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }

.btn--primary {
  background: #0477ea;
  color: #ffffff;
  border-radius: .25em; }
  .btn--primary:hover {
    background: #046ad1;
    text-decoration: none;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }

.btn--success {
  background: #38c550;
  color: #ffffff;
  border-radius: .25em; }
  .btn--success:hover {
    background: #32b148;
    text-decoration: none;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }

.btn--info {
  background: #0065DC;
  color: #ffffff;
  border-radius: .25em; }
  .btn--info:hover {
    background: #0059c3;
    text-decoration: none;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }

.btn--warning {
  background: #ffeb3b;
  color: #ffffff;
  border-radius: .25em; }
  .btn--warning:hover {
    background: #ffe822;
    text-decoration: none;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }

.btn--danger {
  background: #ee5f5f;
  color: #ffffff;
  border-radius: .25em; }
  .btn--danger:hover {
    background: #ec4848;
    text-decoration: none;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }

.width-5 {
  width: 5%; }

.width-10 {
  width: 10%; }

.width-15 {
  width: 15%; }

.width-20 {
  width: 20%; }

.width-25 {
  width: 25%; }

.width-30 {
  width: 30%; }

.width-35 {
  width: 35%; }

.width-40 {
  width: 40%; }

.width-45 {
  width: 45%; }

.width-50 {
  width: 50%; }

.width-55 {
  width: 55%; }

.width-60 {
  width: 60%; }

.width-65 {
  width: 65%; }

.width-70 {
  width: 70%; }

.width-75 {
  width: 75%; }

.width-80 {
  width: 80%; }

.width-85 {
  width: 85%; }

.width-90 {
  width: 90%; }

.width-95 {
  width: 95%; }

.width-100 {
  width: 100%; }

/*@mixin flexCssHelpers {
  .main-justify {
    @include mainJustify
  }
  .main-distribute {
    @include mainDistribute
  }
  .main-center {
    @include mainCenter
  }
  .main-start {
    @include mainStart
  }
  .main-end {
    @include mainEnd
  }
  .cross-start {
    @include crossStart
  }
  .cross-center {
    @include crossCenter
  }
  .cross-end {
    @include crossEnd
  }
  .flex-reverse {
    @include flexReverse
  }
  .flex-column {
    @include flexColumn
  }
  .flex-column-reverse {
    @include flexColumnReverse
  }
  .abcenter {
    @include flexCenter
  }
}*/
.container {
  width: 100%;
  max-width: 1200px; }

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.33333%, 1fr));
  grid-gap: 0; }
  .row .12-1 {
    grid-column: span 1; }
  .row .offset-1 {
    grid-column: span 1/span 12; }
  .row .12-2 {
    grid-column: 1/span 2; }
  .row .offset-2 {
    grid-column: span 2/span 12; }
  .row .12-3 {
    grid-column: 1/span 3; }
  .row .offset-3 {
    grid-column: span 3/span 12; }
  .row .12-4 {
    grid-column: 1/span 4; }
  .row .offset-4 {
    grid-column: span 4/span 12; }
  .row .12-5 {
    grid-column: 1/span 5; }
  .row .offset-5 {
    grid-column: span 5/span 12; }
  .row .12-6 {
    grid-column: 1/span 6; }
  .row .offset-6 {
    grid-column: span 6/span 12; }
  .row .12-7 {
    grid-column: 1/span 7; }
  .row .offset-7 {
    grid-column: span 7/span 12; }
  .row .12-8 {
    grid-column: 1/span 8; }
  .row .offset-8 {
    grid-column: span 8/span 12; }
  .row .12-9 {
    grid-column: 1/span 9; }
  .row .offset-9 {
    grid-column: span 9/span 12; }
  .row .12-10 {
    grid-column: 1/span 10; }
  .row .offset-10 {
    grid-column: span 10/span 12; }
  .row .12-11 {
    grid-column: 1/span 11; }
  .row .offset-11 {
    grid-column: span 11/span 12; }
  .row .12-12 {
    grid-column: 1/span 12; }
  .row .offset-12 {
    grid-column: span 12/span 12; }
=======
.form input, .form textarea {
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #8e9bab;
  font-size: 1rem;
  font-family: "proxima-nova", sans-serif;
  border-style: solid;
  border-color: #8e9bab;
  display: block;
  width: 100%;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  font-weight: 300;
  -webkit-transition: border-color .15s ease-in-out;
  transition: border-color .15s ease-in-out; }
  .form input:hover, .form textarea:hover {
    border-color: #172b4d;
    -webkit-transition: border-color .15s ease-in-out;
    transition: border-color .15s ease-in-out; }
  .form input:focus, .form textarea:focus {
    outline: none;
    border-color: #172b4d; }
  .form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
    color: #8e9bab;
    font-size: 1rem;
    font-family: "proxima-nova", sans-serif; }
  .form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
    color: #8e9bab;
    font-size: 1rem;
    font-family: "proxima-nova", sans-serif; }
  .form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
    color: #8e9bab;
    font-size: 1rem;
    font-family: "proxima-nova", sans-serif; }
  .form input::placeholder, .form textarea::placeholder {
    color: #8e9bab;
    font-size: 1rem;
    font-family: "proxima-nova", sans-serif; }
  .form input:disabled, .form textarea:disabled {
    opacity: .5; }
    .form input:disabled:hover, .form textarea:disabled:hover {
      border-color: #8e9bab; }

.form textarea {
  min-height: 100px; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px; }
  .form__row__col {
    padding-right: 5px;
    padding-left: 5px;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px; }
  .form__group label {
    margin-bottom: 5px;
    color: #172b4d;
    font-size: 1rem;
    font-family: "proxima-nova", sans-serif; }
  .form__group.is-success label {
    color: #38c550 !important; }
  .form__group.is-success input {
    border-color: #38c550 !important; }
  .form__group.is-warning label {
    color: #ffeb3b !important; }
  .form__group.is-warning input {
    border-color: #ffeb3b !important; }
  .form__group.is-danger label {
    color: #ee5f5f !important; }
  .form__group.is-danger input {
    border-color: #ee5f5f !important; }
  .form__group__checkbox label {
    position: relative;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .form__group__checkbox label input[type="checkbox"] {
      position: relative;
      top: -.3rem;
      margin-right: 1rem;
      cursor: pointer;
      width: 1rem;
      height: 1rem; }
      .form__group__checkbox label input[type="checkbox"]:before {
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        -webkit-transform: rotate(-45deg) scale(0, 0);
                transform: rotate(-45deg) scale(0, 0);
        content: "";
        position: absolute;
        left: 0.1875rem;
        top: .25rem;
        z-index: 1;
        width: 0.75rem;
        height: 0.375rem;
        border: 2px solid #16a085;
        border-top-style: none;
        border-right-style: none; }
      .form__group__checkbox label input[type="checkbox"]:checked:before {
        -webkit-transform: rotate(-45deg) scale(1, 1);
                transform: rotate(-45deg) scale(1, 1); }
      .form__group__checkbox label input[type="checkbox"]:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        background: #fff;
        border: 2px solid #f2f2f2;
        cursor: pointer; }

.form.form--round input, .form.form--round textarea {
  border-radius: 5px; }
<<<<<<< HEAD

.form.form--material input, .form.form--material textarea {
  border: none;
  border-bottom: solid 1px #8e9bab; }
  .form.form--material input:hover, .form.form--material textarea:hover {
    border-bottom: solid 1px #172b4d; }
  .form.form--material input:focus, .form.form--material textarea:focus {
    border-bottom: solid 1px #172b4d; }
=======
>>>>>>> 8b0de3d3642744fdd668be636f5e98e9f82fd96a
>>>>>>> 65138e220ee33bcb68d3d044534ba2fa3b5f844a
