.principal-slider{
  position: relative;
  height: 300px;
  @include desde(m){
    height: 400px;
  }
  &__slider{
    position: relative;
    @include principal-slider(center, center);
    background-color: #000000;
    @include desde(m){
      @include principal-slider(right, center);
    }
  }
  &__img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    @include desde(m){
      opacity: 1;
    }
  }
  &__title{
    color: $white;
    font-family: $PrimarySemi;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    font-size: 2em;
    @include desde(s){
      font-size: 2.2em;
    }
    @include desde(m){
      font-size: 2.5;
      color: $black;
    }
    @include desde(l){
      font-size: 3em;
    }
  }
  &__subtitle{
    position: relative;
    color: $white;
    font-family: $PrimaryLight;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: .3em;
    @include desde(s){
      font-size: 1.1em;
    }
    @include desde(m){
      font-size: 1.25em;
      color: $black;
    }
    @include desde(l){
      font-size: 1.5em;
    }
  }
  &__next,
  &__prev{
    position: absolute;
    top: 50%;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba($white, .6);
    &:hover{
      background-color: rgba($white, 1);
    }
  }
  &__next{
    right: 0;
  }
  &__prev{
    left: 0;
  }
  &__icon{
    font-size: 30px;
    color: $black;
    @include desde(m){
      font-size: 40px;
    }
  }
}

.swiper-pagination-bullet{
  width: 10px !important;
  height: 10px !important;
  border-radius: 0 !important;
  background-color: $gray-light !important;
  @include desde(s){
    width: 12px !important;
    height: 12px !important;
  }
  &-active{
    background-color: $white !important;
  }
}
