$font-size-base: 16px;
// fonts size header
$h1:                rem($font-size-base * 2.5) !default;
$h2:                rem($font-size-base * 2) !default;
$h3:                rem($font-size-base * 1.75) !default;
$h4:                rem($font-size-base * 1.5) !default;
$h5:                rem($font-size-base * 1.25) !default;
$h6:                rem($font-size-base) !default;
// font family
$PrimaryLight: 'NovaLight';
$PrimaryRegular: 'NovaRegular';
$PrimarySemi: 'NovaSemi';
$PrimaryBold: 'NovaBold';
$PrimaryExtra: 'NovaBold';

$SecondaryLight: '';
$SecondaryRegular: 'CatamaranRegular';
$SecondarySemi: '';
$SecondaryBold: 'CatamaranBold';
$SecondaryExtra: '';


$font-family: $PrimaryRegular;
$font-secundary: $SecondaryRegular;

$headings-map: (
  h1: $h1,
  h2: $h2,
  h3: $h3,
  h4: $h4,
  h5: $h5,
  h6: $h6
)
