// palette
$white:             #ffffff;
$black:             #172b4d;
$blue:              #0477ea;
$green:             #38c550;
$cyan:              #0065DC;
$yellow:            #ffeb3b;
$red:               #ee5f5f;
$orange:            #ffba2b;
$gray:              #8e9bab;
$gray-100:          #f4f5f7;
$gray-200:          #eaecf0 !default;
$gray-300:          #b8bec9;
$gray-400:          #b7c0cf !default;
$gray-500:          #bec0c3;
$anchor-link:       #1a0dab;
