// default page color
$white:             #ffffff;
$black:             #000000;
$dark:              #000000;
$green:             #38c550;
$red:               #ee5f5f;
$yellow:            #e5be30;
$gray-light:        #eaecf0;
$anchor-link:       #1a0dab;

// text
$title: #000000;
$subtitle: #000000;
$paragraph: #000000;

// button
$btn-primary: #4A4A4A;
$btn--primary-text: $white;
$btn-secondary: #000000;
$btn--secondary-text: $white;

// icons
$icon-primary: #000000;
$icon-secondary: #000000;

// palette
$primary:   #494949;
$secondary: #909090;
$palette-1: #1b1b1b;
$palette-2: #000000;
$palette-3: #000000;

// extras
$footer-bg: #242E30;


$map-palette-button:(
  primary: (
    background:			$btn-primary,
    color:          $btn--primary-text,
  ),
  secondary: (
    background: 	  $btn-secondary,
    color:          $btn--secondary-text,
  ),
);
