.related-products{

}

.banner-related{
  height: 420px;
  background-color: gold;
  position: relative;
  @include banner-outstanding(center, top, center);
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }
  &__title{
    position: relative;
    font-family: $PrimaryLight;
    font-size: 1.6em;
    text-transform: uppercase;
    @include desde(m){
      font-size: 1.9em;
    }
  }
  &__subtitle{
    position: relative;
    font-family: $PrimarySemi;
    font-size: 1.6em;
    text-transform: uppercase;
    @include desde(l){
      font-size: 1.9em;
    }
  }
  &__btn{
    position: relative;
    text-transform: uppercase;
    margin-top: 1em;
    font-size: .9rem;
  }
}
.slider-related{
  height: 420px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  margin-top: 1em;
  @include desde(m){
    padding: 0 1em;
    margin-top: 0;
  }
  &__item{
    margin: 0 auto;
    padding: 1em 0;
    .slider-products{
      &__content-img{
        @include desde-hasta(481px, 640px){
          width: 200px;
        }
        @include desde-hasta(890px, 1200px){
          width: 200px;
        }
      }
    }
  }
}
